/* Main page */
body {
    margin: 0;
    font-family: Arial;
    background-color: #2A1B3D;
    color: #C2B5DE;
}

/*Main container */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
}

/*Center the title and paragraph */
h1 {margin-bottom: 8px;
    text-align: center;}
p {margin-bottom: 8px;
    text-align: center;
}

/* Subtitle style */
.subtitle {
    color: beige;
    margin-top: 15px;
}
/*Input and button area */
.controls {
    display: flex;
    gap: 15px;
    margin: 20px 0px;
    flex-wrap: wrap;
}

/* text input style */
input {
    color: white;
    flex: 1;
    min-width: 50%;
    padding: 12px;
    border: 1px solid #C2B5DE;
    border-radius: 15px;
    background-image: url('../agggmeowwlattahehehehe.jpg');
}

/* Button style */
button {
    padding: 12px;
    border: 0;
    border-radius: 15px;
    background-color: royalblue;
    color: white;
    font-family: bolder;
    cursor: pointer;
}
/* hover effect */
button:hover {
    background: black;
    color: pink;
}
 
/* Area where the blocks are displayed */
.chain {
    display: grid;
    gap: 12px;
}

/*Style for each block */
.block {
    background-image: url('../agggmeowwlattahehehehe.jpg');
    color: black;
    border: 1px solid #C2B5DE;
    border-radius: 16px;
    padding: 18px;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.5);
}

/* Chain status area */
.status-wrap {
    margin-top: 30px;
}

/* General status style */
.status {
    padding: 12px;
    border-radius: 15px;
    font-weight: bolder;
}

/* Valid chain status */
.status.valid {
    background-color: rgb(16, 161, 16);
    color: white
}
/* Invalid chain status */
.status.invalid {
    background-color: rgb(161, 16, 16);
    color: white;
}

/* Valid and invalid badges */
.badge {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.badge.valid {
    background: royalblue;
    color: white;
}

.badge.invalid {
    background: red;
    color: white;
}

/* Block field style */
.field {
    word-break: break-word;
    margin: 8px 0;
}

/* Labels inside each block */
.label {
    color: beige;
    font-size: 13px;
    display: block; 
    margin-bottom: 4px;
}

/* Values displayed inside the block */
.value {
    background: linear-gradient(
        to right,
        rgb(198, 152, 238),
        rgb(83, 33, 126));
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid beige;
    min-height: 20px;
}

/* Block header layout */
.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Block title */
.block-header h3 {
    margin: 0;
}
